.box {
    min-height: 60px;
    line-height: 60px;
    background-color: blue;
    border: 2px solid white;
    text-align: center;
    color: white;
}


[class*="col"] [class*="col"] {
    background-color: green;
}